<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <h1>Wakatime Streak</h1>
        </header>
        
        <ul>
        </ul>
        <h1 id="wakaResult"></h1>
        <footer>
            <strong><a target="_blank" href="https://www.sdcs.io">[sdcs]</a></strong>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="main.js"></script>
    </body>
</html>

