<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <h1>Wakatime Streak</h1>
        </header>
        <form>
           <label>User Name</label>
            <input id="username" type="text"/>
            <label>Password</label>
            <input id="password" type="password"/>
            <button id="login-button">Login</button>
        </form>
        <footer>
            <strong><a target="_blank" href="https://www.sdcs.io">[sdcs]</a></strong>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- <script src="main.js"></script> -->
        <script src="main.js">
            
        $("#login-button").click(function(e){
            e.preventDefault();
            var username= $("#username").val();
            var password= $("#password").val();
            var email= $("#email").val();
            //Todo: Add email field to form.
            //confirm able to post data.

            postStudent({username, password, email})
            .then(function(data){
                console.log(data);
            }); 
        });
        </script>
    </body>
</html>