<!DOCTYPE html>
<html lang = "en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <h1>Wakatime Streak</h1>
        </header>

        <!-- /* To fill in later -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="privacy.js"></script>
    </body>
</html> 