<form>
    <label>First Name</label>
     <input id="firstname" type="text"/>
     <label>Last Name</label>
     <input id="lastname" type="text"/>
     <label>Enter your WakaTime API Key</label>
     <input id="wakatimekey" type="text"/>
     <button>Submit</button>
 </form>