<!DOCTYPE html>
<html lang = "en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header>
            <h1>Wakatime Streak</h1>
        </header>
        <form>
            <label>First Name</label>
            <input id="firstname" type="text"/>
            <label>Last Name</label>
            <input id="lastname" type="text"/>
            <label>Change your email</label>
            <input id="email" type="email"/>
            <label>Change your WakaTime API Key</label>
            <input id="wakatimekey" type="text"/>
            <button>Submit</button>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="userEdit.js"></script>
        <footer>
            <strong><a id='logo' target="_blank" href="https://www.sdcs.io">[sdcs]</a></strong>
            <p></p><a id="privacy" href="/privacy">Privacy policy</a>
        </footer>
    </body>
</html>